<% provide(:title, t('new_group')) %>
<h1><%= t("create_a_group") %></h1>

<p>
<%= form_for(@group) do |f| %>
  <%= render 'shared/group_error_messages' %>

  <%= f.label :name, t("name") %>
  <%= f.text_field :name %>
  <br>

  <%= f.submit t("create"), class: "btn btn-large btn-primary" %>
<% end %>
</p>
