<% provide(:title, t('new_post')) %>
<p>
<%= form_tag({controller: "posts", action: "create"}, method: "post") do %>
  <%= render 'shared/post_error_messages' %>

  <%= label_tag :species, t("select_post_type") %>
  <%= select_tag(:species, options_for_select(Species.all(selectable: true))) %>


  <% @species.details.each do |field| %>
    <%= render "posts/new_partials/#{field["format"]}", field: field%>
  <% end %>

  <%= submit_tag t("submit"), class: "btn btn-large btn-primary" %>
<% end %>
</p>
