<body>
  <h1>New Post</h1>
  <p>
  <%= form_for(@post) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content %>
    <%= f.text_field :content %>
  <% end %>
  </p>
</body>
