<% provide(:title, 'New Post') %>
<p>
<%= form_for(@post, url: group_make_post_index_path) do |f| %>
  <%= render 'shared/post_error_messages' %>

  <%= f.label :title, t("title") %>
  <%= f.text_field :title %>

  <%= f.label :content, t("content") %>
  <%= f.text_area :content %>

  <%= f.label :species, t("species") %>
  <%= f.text_field :species %>

  <%= f.submit t("submit"), class: "btn btn-large btn-primary" %>
<% end %>
</p>
